ws/WebContent/wsdl/bookserviceimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BookService"
	targetNamespace="http://service.server.order.nure.ua/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://service.server.order.nure.ua/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://service.server.order.nure.ua/"
				schemaLocation="bookserviceimpl_schema1.xsd" />
		</schema>
	</wsdl:types>
	<wsdl:message name="addBookResponse">
		<wsdl:part name="parameters" element="tns:addBookResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="listBooksResponse">
		<wsdl:part name="parameters" element="tns:listBooksResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBook">
		<wsdl:part name="parameters" element="tns:getBook">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteBookResponse">
		<wsdl:part name="parameters" element="tns:deleteBookResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateBook">
		<wsdl:part name="parameters" element="tns:updateBook">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addBook">
		<wsdl:part name="parameters" element="tns:addBook">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DAOException">
		<wsdl:part name="DAOException" element="tns:DAOException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBookResponse">
		<wsdl:part name="parameters" element="tns:getBookResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateBookCount">
		<wsdl:part name="parameters" element="tns:updateBookCount">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateBookCountResponse">
		<wsdl:part name="parameters" element="tns:updateBookCountResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateBookResponse">
		<wsdl:part name="parameters" element="tns:updateBookResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="listBooks">
		<wsdl:part name="parameters" element="tns:listBooks">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteBook">
		<wsdl:part name="parameters" element="tns:deleteBook">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookService">
		<wsdl:operation name="updateBook">
			<wsdl:input name="updateBook" message="tns:updateBook">
			</wsdl:input>
			<wsdl:output name="updateBookResponse" message="tns:updateBookResponse">
			</wsdl:output>
			<wsdl:fault name="DAOException" message="tns:DAOException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listBooks">
			<wsdl:input name="listBooks" message="tns:listBooks">
			</wsdl:input>
			<wsdl:output name="listBooksResponse" message="tns:listBooksResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateBookCount">
			<wsdl:input name="updateBookCount" message="tns:updateBookCount">
			</wsdl:input>
			<wsdl:output name="updateBookCountResponse" message="tns:updateBookCountResponse">
			</wsdl:output>
			<wsdl:fault name="DAOException" message="tns:DAOException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addBook">
			<wsdl:input name="addBook" message="tns:addBook">
			</wsdl:input>
			<wsdl:output name="addBookResponse" message="tns:addBookResponse">
			</wsdl:output>
			<wsdl:fault name="DAOException" message="tns:DAOException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBook">
			<wsdl:input name="getBook" message="tns:getBook">
			</wsdl:input>
			<wsdl:output name="getBookResponse" message="tns:getBookResponse">
			</wsdl:output>
			<wsdl:fault name="DAOException" message="tns:DAOException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteBook">
			<wsdl:input name="deleteBook" message="tns:deleteBook">
			</wsdl:input>
			<wsdl:output name="deleteBookResponse" message="tns:deleteBookResponse">
			</wsdl:output>
			<wsdl:fault name="DAOException" message="tns:DAOException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookServiceSoapBinding" type="tns:BookService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="updateBook">
			<soap:operation soapAction="urn:UpdateBook" style="document" />
			<wsdl:input name="updateBook">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DAOException">
				<soap:fault name="DAOException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listBooks">
			<soap:operation soapAction="urn:ListBooks" style="document" />
			<wsdl:input name="listBooks">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listBooksResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addBook">
			<soap:operation soapAction="urn:AddBook" style="document" />
			<wsdl:input name="addBook">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DAOException">
				<soap:fault name="DAOException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateBookCount">
			<soap:operation soapAction="urn:UpdateBookCount"
				style="document" />
			<wsdl:input name="updateBookCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateBookCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DAOException">
				<soap:fault name="DAOException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBook">
			<soap:operation soapAction="urn:GetBook" style="document" />
			<wsdl:input name="getBook">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DAOException">
				<soap:fault name="DAOException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteBook">
			<soap:operation soapAction="urn:DeleteBook" style="document" />
			<wsdl:input name="deleteBook">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DAOException">
				<soap:fault name="DAOException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookService">
		<wsdl:port name="BookServicePort" binding="tns:BookServiceSoapBinding">
			<soap:address location="http://localhost:8080/ws/services/BookService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
