LB3WSClientJAXWSExampleWithInheritance/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.jaxws.itech.nure.ua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.jaxws.itech.nure.ua/"
	name="HelloService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://service.jaxws.itech.nure.ua/"
				schemaLocation="http://localhost:9090/hello?xsd=1"></xsd:import>
		</xsd:schema>
	</types>
	<message name="hello">
		<part name="parameters" element="tns:hello"></part>
	</message>
	<message name="helloResponse">
		<part name="parameters" element="tns:helloResponse"></part>
	</message>
	<message name="exchange">
		<part name="parameters" element="tns:exchange"></part>
	</message>
	<message name="exchangeResponse">
		<part name="parameters" element="tns:exchangeResponse"></part>
	</message>
	<message name="ExchangeException">
		<part name="fault" element="tns:ExchangeException"></part>
	</message>
	<portType name="HelloMessenger">
		<operation name="hello">
			<input
				wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/helloRequest"
				message="tns:hello"></input>
			<output
				wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/helloResponse"
				message="tns:helloResponse"></output>
		</operation>
		<operation name="exchange">
			<input
				wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/exchangeRequest"
				message="tns:exchange"></input>
			<output
				wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/exchangeResponse"
				message="tns:exchangeResponse"></output>
			<fault message="tns:ExchangeException" name="ExchangeException"
				wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/exchange/Fault/ExchangeException"></fault>
		</operation>
	</portType>
	<binding name="HelloPortBinding" type="tns:HelloMessenger">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"></soap:binding>
		<operation name="hello">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="exchange">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="ExchangeException">
				<soap:fault name="ExchangeException" use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
	<service name="HelloService">
		<port name="HelloPort" binding="tns:HelloPortBinding">
			<soap:address location="http://localhost:9090/hello"></soap:address>
		</port>
	</service>
</definitions>