LB1XMLXSD/simple-complexContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nure.ua/it/simpleContent"
	xmlns:tns="http://nure.ua/it/simpleContent"
	elementFormDefault="qualified">
	<element name="price">
		<complexType>
			<simpleContent>
				<extension base="decimal">
					<attribute name="currency" type="string" />
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="uprice">
		<complexType>
			<complexContent>
				<restriction base="anyType">
					<attribute name="currency" type="string" />
					<attribute name="value" type="decimal" />
				</restriction>
			</complexContent>
		</complexType>
	</element>
</schema>